<header>
  <h1>The Miam Box</h1>
  <p>What do you want to eat ?</p>
</header>

<section class="balloon container with-title">
  <h2 class="title">Beudai</h2>
  <div class="messages">
    <div class="message -left">
      <i class="nes-bcrikko"></i>
      <div class="nes-balloon from-left">
        <p>Manger ?</p>
      </div>
    </div>
    <div class="message -right">
      <div class="nes-balloon from-right"><p>Manger, manger, MANGER !!!!!</p></div>
      <i class="nes-bcrikko"></i>
    </div>
  </div>
</section>
